body{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 100%;
}
header{
  font-family: cursive;
  font-style: italic;
  text-align: center;
  text-decoration: line-through;
  color: #000e42;
}
main{
  width: 57%;
  height: 343px;
  border: 2px solid #d009a9;
  border-radius: 17px;
  margin: auto;
}
.hder{
  margin-top: 20px;
  width: 90%;
  height: 37px;
  border: 2px solid #4d0452;
  border-radius: 17px 17px 13px 13px;
  margin-left: 4.5%;
  margin-right: 5%;
  text-align: center;
}
.frm-cntrl{
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px 0px 0px 12px;
  border: 1px solid #4d0452;
  height: 33px;
  width: 53%;
  color: white;
  caret-color: white;
  font-family: monospace;
  font-style: oblique;
  font-size: 1rem;
}
#btn{
  height: 37px;
  color: green;
  width: 35%;
  border-radius: 0px 12px 12px 0px;
  font-family: monospace;
  font-style: oblique;
  font-size: 15px;
  background-color: rgba(8,214,15,.55);
}
#btn:hover{
  color: #b70640;
}
.results{
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;
  border: 2px solid #790426;
  height: 258px;
  margin-bottom: 20px;
  margin-left: 4.5%;
  margin-right: 5%;
  width: 90%;
  text-align: center;
}
.info{
  font-size: 10px;
  font-family: sans;
  color: #024631;

}
.line{
  margin-top: 5px;
}
.frst{
  background-color: #5018b5;
  color: white;
  margin-right: 7px;
  width: 44%;
  height: 33px;
  font-family: monospace;
  font-style: oblique;
  font-size: 1rem;
}
.scond{
  background-color:#0b0980;
  color: white;
  width: 45%;
  height: 33px;
  font-family: monospace;
  font-style: oblique;
  font-size: 1rem;
}
